*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html{
    scroll-behavior: smooth;
}

//font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//partials
@import "../scss/componentes/navtodos";
@import "../scss/componentes/index";
@import "../scss/componentes/nosotros";
@import "../scss/componentes/servicios";
@import "../scss/componentes/productos";
@import "../scss/componentes/contacto";
@import "../scss/componentes/footsubir";
@import "../scss/componentes/mediaque";