/* contacto */
.basecont{
    background-color: rgba(0, 0, 0, 0.3);
    color: #333;
    padding: 50px;
}

.basecont h1{
    text-align: center;
    font-size: 30px;
}

.mapa{
    margin-top: 50px;
    text-align: center;
    overflow: auto;
}