//color
$color1: white;
$color2: #333;
$color3: rgba(0, 0, 0, 0.3);
$color4: black;

//size
$size1: 15px;
$size2: 20px;
$size3: 100px;
$size4: 250px;

/* nosotros */
.basenos{
    background-color: $color3;
    color: $color2;
    padding: ($size2*2) + 18;
}

.basenos h1{
    font-size: $size2 + 15;
    margin-top: $size1 - 5;
    margin-bottom: $size2 + 2;
}

.conocernos{
    margin-top: $size2*2;
    margin-bottom: $size2*3;
}

.nleft{
    background-image: url(../assets/frentecontroll.jpg);
    border: 4px solid $color2;
    box-shadow: 0 0 $size1 $color1;
    height: $size4 + $size3;
    background-size: cover;
    background-position: center;
}

.conocernos a{
    box-shadow: 0 0 10px $color1;
    font-size: $size2 - 7;
}

.infonosotros{
    margin-top: $size2*2;
    margin-bottom: $size4/3;
    text-align: center;
}

.infonosotros h4{
    font-size: $size2 + 6;
}

.infonosotros p{
    font-size: $size1 + 3;
}

.detalles{
    margin-top: $size1*3;
    margin-bottom: $size4/3;
}

.detalles h5{
    font-size: $size2 + 3;
}

.detalles p{
    font-size: $size1 + 1;
}

.ico{
    color: $color1;
    text-shadow: 0 0 10px $color2;
    font-size: $size2;
    margin: $size2 $size2;
    margin-top: $size1;
    margin-bottom: $size1;
}

.proyectos{
    font-size: $size2 + 6;
    margin-left: $size3/2;
    margin-bottom: $size2 + 10;
}

.video{
    margin-top: $size2*2;
    margin-bottom: $size1;
    align-items: center;
    text-align: center;
    padding: $size2*2;
    overflow: auto;
}

.video h2{
    font-size: $size3/3;
    margin-bottom: $size1 + 10;
}

.responsabilidad{
    margin-top: $size1;
    margin-bottom: $size1;
    text-align: center;
}