//color
$color1: white;
$color2: #333;
$color3: rgba(0, 0, 0, 0.3);
$color4: black;

//size
$size1: 15px;
$size2: 20px;
$size3: 100px;
$size4: 250px;

/* nosotros */
.base-nos{
    background-color: $color3;
    color: $color2;
    padding: $size2 + 10;
    h1{
        font-size: $size2 + 12;
        margin-top: $size1 - 5;
        margin-bottom: $size2;
    }
}

.conocernos{
    margin-top: $size1 + $size2;
    margin-bottom: calc($size2*3);
}

.nleft{
    background-image: url(../assets/frentecontroll.jpg);
    border: 4px solid $color2;
    box-shadow: 0 0 $size1 $color1;
    height: $size3 + $size4;
    background-size: cover;
    background-position: center;
}

.conocernos{
    h3{
        font-size: $size2 - 2;
        margin-top: $size2;
        margin-bottom: $size1;
    }
    a{
        box-shadow: 0 0 10px $color1;
        font-size: $size1;
    }
}

.info-nosotros{
    margin-top: calc($size3/2);
    margin-bottom: $size2 + 10;
    text-align: center;
    h4{
        font-size: $size2 + 6;
        margin-bottom: $size2;
    }
    p{
        font-size: $size1 + 3;
    }
}

.detalles{
    margin-top: calc($size1*3);
    margin-bottom: $size2;
    h5{
        font-size: $size2 + 3;
    }
    p{
        font-size: $size1 + 10;
    }
}

.ico{
    color: $color1;
    text-shadow: 0 0 10px $color2;
    font-size: $size2;
    margin-top: $size1;
    margin-bottom: $size1;
}

.video{
    margin-bottom: $size1;
    padding: calc($size2*2);
    align-items: center;
    text-align: center;
    overflow: auto;
    h2{
        font-size: calc($size3/3);
        margin-bottom: $size1 + 10;
    }
}

.responsabilidad{
    margin-top: $size1;
    margin-bottom: $size1;
    text-align: center;
}