//color
$color1: white;
$color2: #333;
$color3: rgba(0, 0, 0, 0.3);
$color4: black;

//size
$size1: 15px;
$size2: 20px;
$size3: 100px;
$size4: 250px;

/* productos */
.base-prod{
    background-color: $color3;
    color: $color2;
    padding: $size2 + 10;
    h1{
        font-size: $size2 + 7;
        margin-bottom: $size1 + 4;
    }
    h2{
        text-shadow: 0 0 30px $color1;
        font-size: $size2 + 5;
        font-weight: bolder;
        padding: $size2;
        margin-top: $size2;
        margin-bottom: $size2;
        animation-name: desliza;
        animation-duration: 15s;
    }
}

@keyframes desliza{
    0%{
        opacity: 0.5;
    }
    50%{
        transform: translateX(40%);
        opacity: 1;
    }
    100%{
        transform: translateY(10%);
    }
}

.prod{
    display: flex;
    justify-content: space-evenly;
}

.card{
    border: 5px solid rgba(0, 0, 0, 0.455);
    width: $size3 + $size4;
    margin-bottom: calc($size3/2);
    padding: $size1;
    img{
        background-size: cover;
        background-position: center;
        margin-top: $size2;
    }
}

.card-title{
    font-size: $size2;
    font-weight: bold;
    margin-bottom: $size1 - 10;
    text-align: center;
}

.card-desc{
    font-size: $size1 + 3;
    margin-top: $size1;
    margin-bottom: $size1;
    text-align: center;
}