//color
$color1: white;
$color2: #333;
$color3: rgba(0, 0, 0, 0.3);
$color4: black;

//size
$size1: 15px;
$size2: 20px;
$size3: 100px;
$size4: 250px;

/* productos */
.baseprod{
    background-color: $color3;
    color: $color2;
    padding: $size2;
}

.baseprod h1{
    font-size: 25px;
}

.cards{
    text-shadow: 0 0 5px #fff;
    text-align: center;
    font-size: 25px;
    padding: 40px;
    margin-top: 20px;
    font-weight: bolder;
}

.prod{
    display: flex;
    justify-content: space-evenly;
}

.card{
    border: 5px solid rgba(0, 0, 0, 0.455);
    margin-bottom: 30px;
}

.detalles{
    font-weight: bold;
}

.card-img{
    background-size: cover;
    background-position: center;
    height: 250px;
}