//color
$color1: white;
$color2: #333;
$color3: rgba(0, 0, 0, 0.3);
$color4: black;

//@for
$color5: gray;
$color6: rgb(106, 102, 102);

//size
$size1: 15px;
$size2: 20px;
$size3: 100px;
$size4: 250px;

/* servicios */
.base-serv{
    background-color: $color3;
    color: $color2;
    padding: ($size2*2) + 18;
}

.caract{
    margin-bottom: calc($size2*3);
    h1{
        font-size: $size2 + 12;
        margin-top: 3px;
        margin-bottom: $size2;
        text-align: center;
    }
    h2{
        font-size: $size2 + 3;
        margin-top: $size1 - 8;
        margin-bottom: $size1;
    }
    p{
        font-size: $size1 + 2;
        font-weight: bold;
        margin-top: $size1 - 5;
        margin-bottom: $size2;
    }
}

.ray{
    color: $color1;
    text-shadow: 0 0 10px $color2;
    font-size: $size2;
    margin: $size1 $size1;
}

.feature{
    margin-top: 3px;
    margin-bottom: $size1;
    text-align: center;
}

article{
    box-shadow: 0 0 10px $color2;
    border: 2px solid $color1;
    padding: calc($size2*3);
    h3{
        text-shadow: 0 0 10px whitesmoke;
        font-size: $size2 + 5;
        margin-top: $size1;
        margin-bottom: $size2;
    }
    i{
        color: $color3;
        font-size: $size1 + 3;
    }
    p{
        font-size: $size1 + 3;
        margin: 7px 7px 7px 7px;
    }
}

@for $i from 1 through 3 {
    .art#{$i}{
        background-color: lighten($color5, $i * 5%);
    }
}

@for $i from 4 through 6 {
    .art#{$i}{
        background-color: lighten($color6, $i * 5%);
    }
}

.novedades{
    margin-top: calc($size2*2);
    padding: $size1;
    text-align: center;
    h3{
        font-size: $size2 + 8;
        margin-top: $size2;
    }
    i{
        color: $color1;
        text-shadow: 0 0 10px $color2;
        font-size: calc($size3/3);
        margin: $size2 $size2;
    }
}

.garantia{
    padding: $size2 + 10;
    p{
        font-size: $size1;
        font-weight: bold;
    }
}

.web{
    padding: $size2;
    p{
    font-size: $size1;
    font-weight: bold;
    }
}